<div ng-repeat="article in articles" style="box-shadow: 0 0 10px #aaa; padding: 10px; border: 1px #555 solid; margin-bottom: 10px">
	<h1>{{article.title}}</h1>
	<p>{{article.content}}</p>
	<div class="alert alert-info">posted by <strong>{{article.author}}</strong> @ {{article.posted | date}}</p>
	</div>
	<h2>Comments</h2>

	<div ng-repeat="comment in comments" ng-if="comment.article.id==article.id">
<h5>{{comment.title}}	<small class="pull-right">Written by <a href="mailto:{{comment.mail}}">{{comment.author}}</a> @ {{comment.date}}</small></h5>
	<p class="clearfix">{{comment.content}}</p>

	</div>

	<h3>Add comment</h3>
	<div class="form-group">
	<input class="form-control" type="text" placeholder="Title" ng-model="newComment.title"/>
	<input class="form-control" type="text" placeholder="Message" ng-model="newComment.content"/>
	<button class="btn btn-primary" ng-click="addComment(article.id)">Add!</button>
</div>